<label for="device" class="font-semibold">Device:</label>
<select 
    id="device"
    name="device"
    required
    hx-post="/device"
    hx-trigger="change"
    hx-target=".bg-gray-800"
    hx-include="this"
    hx-vals='js:{name: event.target.value}'
    hx-swap="none"
    hx-on:change="document.getElementById('reset-btn').click()"
    class="bg-gray-700 text-gray-100 border border-gray-600 rounded-lg px-4 py-2 cursor-pointer focus:outline-none focus:ring-2 focus:ring-cyan-500"
>
        <option value="" disabled {% if not selected_device %}selected{% endif %}>Device...</option>

    {% for device in devices %}
        <option value="{{ device.name }}" {% if selected_device == device.name %}selected{% endif %}>{{ device.name }}</option>
    {% endfor %}
</select>
